.idea
.idea/
.gcloudignore
.git
.git/**
.gitignore
node_modules
go.mod
go.sum
cron/
cron/*
cmd/
cmd/**
e2e/
e2e/**
usage/**
usage/
logs
logs/**
logs/
cmd/**
cmd
images/
images/**
aws/
aws/**
*.md
.DS_Store
*.zip
smirror
local_test.go